{% extends 'base.html' %}

{% block body %}

       
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin panel</h1>
                            <span class="subheading">Manage your post and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <h1>Basic action </h1>
                    <a href="/dashbord"><button class="btn btn-primary ">Go To main menu</button></a>
                    <a href ="/logout" > <button class="btn btn-primary ">Logout</button> </a>
                    <hr>
                    

                    <h1>Edit Posts</h1>
                    <hr>
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/edit/{{sno}}" method="post">
                        
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Title" value="{{post.title}}"  data-sb-validations="required" />
                            <label for="title">Title</label>
                            
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="tline" name="tline" type="text" placeholder="Tag line" value="{{post.tagline}}" data-sb-validations="required,email" />
                            <label for="tline">Tag line</label>
                            
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" name="slug" type="text" placeholder="slug" value="{{post.slug}}" data-sb-validations="required" />
                            <label for="slug">Slug</label>
                            
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="content" name="content" placeholder="Content" style="height: 12rem" value="{{post.content}}"data-sb-validations="required">
                            <label for="content">Content</label>
                            
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="img_file" name="img_file" type="text" placeholder="image file" value="{{post.imgfile}}" data-sb-validations="required" />
                            <label for="img_file">Image File</label>
                            
                        </div>
                        <br />
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        
                        <button class="btn btn-primary text-uppercase " id="submitButton" type="submit">Submit</button>
                    </form>
                
                  
                
                </div>
            </div>
        </div>
        
{% endblock body %} 